header {
  margin: auto;
  margin-top: 3%;
  margin-bottom: 0%;
}

.title-bar {
  width: 65%;
  background-color: #D0CCD0;
  margin: auto;
  text-align: center;
  color: #333333;
  font-size: 24px;
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 1.5;
  margin-bottom: 0%;
}

.title-bar strong{
  font-weight: bold;
  color: #DB3069;
  font-size: 48px;
}

.about-me {
  border-style: solid;
  border-width: 16px;
  border-color: black;
  border-top-style: solid;
  border-left-style:  none;
  border-right-style:  none;
  border-bottom-style:  none;
  background-color: #FBFCFF;
  width: 35%;
  height: 20%;
  text-align: justify;
  margin-left: auto;
  margin-right:auto;
  margin-top: 0px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 18px;
  line-height: 1.5;
  color: #333333;
  box-shadow: 16px 16px;
}

.about-me img{
display: block;
margin-left: auto;
margin-right: auto;
  width: 201px;
  height:201px;
}

.nav-bar{
  text-align: center;
}

ul {
margin: auto;
}

li {
  display: inline;
  background-color: #DB3069;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #FBFCFF;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-shadow: 0px 2px #333333;
}

body {
  font-family: Arial, sans-serif;
  background-color: #333333;
  margin-top: 0%;
}


