head {
  margin: auto;
  width: 50%;
  
}

.title-bar {
  background-color: #D0CCD0;
  margin: auto;
  text-align: center;
  color: #333333;
  font-size: 14px;
}

.title-bar,
strong{
  font-weight: bold;
  color: #F42C04;
  font-size: 18px;
}

.about-me {

}

body {
  font-family: Arial, sans-serif;
  background-color: #4C191B;
  margin-top: 1%;
  margin-left:10%;
  margin-right:10%;
  margin-bottom:15%;
}


